.hero-banner .card-content .card-title{
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%) !important;
}

.hero-banner .text{
    margin-top: 20px;
    font-size: 28px;
    color: #858383;
}
.hero-banner .gradient-text{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
.hero-banner button {
    font-size: 14px;
    padding: 10px 40px !important;
}
.card-inner{
    position: relative;
    width: 400px;
    height: 400px;
    padding-left: 50px;
}
.hero-banner .card-content{
    padding-top: 40px;
}
.card-img-box{
    background:linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    border-radius: 40px;
    padding: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}
.card-inner img{
    position: absolute;
    width: 100%;
    height:450px;
    top:-50px;
    object-fit: cover;
    border-radius: 20px;
    z-index: 5;
}

/* ============================================================================================================ */

.about-me{
    background-color: #F8F9FA;
    padding:60px 0;
    text-align:center;
    border-bottom: 2px solid #fff;
}
.about-me h2{
    font-weight:700;
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip:text;
    color:transparent;
    background-position: center center;
}

.about-me .social i{
    font-size:22px;
    margin:3px;
    color: #6f42c1;
}

.icon {

/* ============================================================================================================ */

.resume{
    height: 80vh;
    background: #f8f9fa;
    padding-top: 40px;
}
.resume .content{
    margin-top: 90px;
    max-width: 800px;
    border-radius: 15px;
    border: 0;
    padding: 20px 45px;
    background-color: white;
}
.resume .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resume .card-body{
    padding: 0 !important;
}
.resume .card {
    max-width: 800px;
    border-radius: 15px;
    border: 0;
    padding: 20px 15px;
}
.resume-title h1{
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* ============================================================================================================ */

.projects {
    background: #F8F9FA;
    padding-top: 40px;
    border-top: 2px solid #fff;
}
.projects .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .row .card-body{
    padding-left: 30px;
}
.projects .project-title h1 {
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container-fluid {
    margin-top: 100px;
    padding-top: 60px;
    height: 230px;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%)
}
.project-foot .text-foot {
    font-size: 43px;
}
/* ============================================================================================================ */
.contact{
    background-color: white;
}
.contact .form-submit{
    background-color: #F8F9FA;
    border-radius: 10px;
    padding-block: 3rem;
}
.text-card {
    text-align: center !important;
}
.message {
    height: 200px !important;
}
.icon {
    text-align: center;
}
.icon i {
    width: 50px !important;
    border-radius: 10px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(37, 41, 82, 1) 18%, rgba(155, 30, 217, 1) 50%, rgba(237, 83, 83, 1) 100%);
}
.buttom {
    text-align: center;
}

    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

header .navbar .navbar-nav .nav-link.active {
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

header .navbar .navbar-nav .nav-link:hover {
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


footer ul a:hover {
    background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
