.resume{
    background: #f8f9fa;
}
.card{
    max-width: 800px;
    border-radius: 15px;
}
.resume-title h2{
  
background-image: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}